.header {
  background: darken($orange-three, 0.2);

  &__title {
    color: white;
    text-decoration: none;

    &,
    h1 {
      margin: 0;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $sm-size 0;
  }
}
